<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452221103090-99p45q6q4o0l1eamut8e8cbje9tqbb01.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452221103090-99p45q6q4o0l1eamut8e8cbje9tqbb01</string>
	<key>API_KEY</key>
	<string>AIzaSyA5Ms7gR9B4Xzq7u4YPr6ewFy7L7gA6i14</string>
	<key>GCM_SENDER_ID</key>
	<string>452221103090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.levantsale.levantsale</string>
	<key>PROJECT_ID</key>
	<string>levant-sale-application</string>
	<key>STORAGE_BUCKET</key>
	<string>levant-sale-application.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452221103090:ios:4f39a273063ea615ef996b</string>
</dict>
</plist>